<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	 	<title>Nuggalopes and Friends</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<link href="/assets/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/custom.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<nav>
						<ul class="nav pull-right">
							<% if user_signed_in? %>
								<li class="dropdown">
									<a href="#" class="dropdown=toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/#">Home</a></li>
										<li class="cart-text"><%= render 'layouts/cart_text' %></li>
										<li class="divider"></li>
										<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
										<li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
									</ul>
								</li>
							<% else %>
								<li><a href="/#">Home</a></li>
								<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
								<li><%= link_to "Log in", new_user_session_path, :class => 'navbar-link'  %></li>
							<% end %>
						</ul>
					</nav>
				</div>
			</div>
		</nav>

		<div class="container">
			<%= yield %>
		</div>

		<footer class="footer">
			<div class="starter-template">
				<hr>
				<small>
					<% if user_signed_in? %>
						You're logged in as <strong><%= current_user.email %></strong>.<br><br>
					<% end %>
					<%= link_to "Store Home", '\#' %>
					<% if user_signed_in? %>
						&nbsp;|&nbsp;&nbsp;<%= link_to "Your Cart", cart_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Sign out?", destroy_user_session_path, method: :delete %>
					<% else %>
						|&nbsp;<%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Log in", new_user_session_path %>
					<% end %>
				</small>
			</div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="/assets/bootstrap.min.js"></script>
	</body>
</html>
